xenorchestra_config = {
  hostname = ""
  username = ""
  password = ""
  insecure = false
}

mikrotik_config = {
  ip_addr = ""
  username = ""
  password = ""
  tls = true
  insecure = false
}

dns_config = {
    server        = ""
    key_name      = ""
    key_algorithm = ""
    key_secret    = ""
    domain        = ""
}

image_template = ""
